* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    
}

:root {
    --color: rgb(29, 225, 11);
    --color2: rgb(191, 184, 44);

    }
body {
    font: 400 1rem 'Akshar'
}

.logo {
    font: 700 3rem 'Bebas Neue'
    color: var(--color);
}

h4 {
    font: 50 1.25rem 'Bebas Neue'
    }

.button {
    color: var(--color)
}
